@(analyzedList: List[models.PreInfo])

@main("Photo Data") {
    
    @defining(analyzedList.head) { info =>
        
        <table>
            <tr>
                <td>
                    <div class="photo">
                        <img src="file://@{info.basic.filepath}" />
                    </div>
                </td>
            </tr>
            <form action="">
                <tr>
                    <td>
                        <div class="date">
                            <input id="date" type="date" value="@{info.soi.map(_.date.toString) getOrElse ""}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="grounds">
                            <input id="grounds" type="text" value="@{info.soi.map(_.grounds) getOrElse ""}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="comment">
                            <textarea id="comment" rows="3" cols="20">@{info.soi.flatMap(_.comment) getOrElse ""}</textarea>
                        </div>
                    </td>
                </tr>
            </form>
        </table>
        
    }
}
