@(dateList: List[java.util.Date], groundsList: List[String])

@main("Photo Initializing") {
    
    <table>
        <tr>
            <td>
                <img src="@imageURL" />
            </td>
        </tr>
        <tr>
            <td>
                <p>@timestamp</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>GEOINFO:</p>
            </td>
            <td>
                <p>@geoinfo.map { g => "%,d, %,d".format(g.latitude, g.longitude) }</p>
            </td>
        </tr>
    </table>
    
}
