@(title: String, fishes: Seq[models.Report.Fishes], images: Option[String], props: Map[String, String])

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <title>@title</title>
  @for((key, value) <- props) {
    <meta property="@key" content="@value" />
  }
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" >
  <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/catch-report.min.css")" />
</head>

<body>
  <h1>@title</h1>
  
  <table class="photo">
  @for(image <- images) {
    <tr>
      <td class="image"><img src="@image" /></td>
    </tr>
  }
  </table>
  
  <table class="fish">
    <tr class="header">
      <th class="name">Name</th>
      <td class="length">Size</td>
      <td class="count">Count</td>
    </tr>
  @for(fish <- fishes) {
    <tr class="body">
      <th class="name">@fish.name</th>
      <td class="count">@fish.count</td>
      <td class="size">@fish.length</td>
      <td class="size">@fish.weight</td>
    </tr>
  }
  </table>
</body>
</html>